@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color:burlywood">
    <h1 class="display-4" style="color:cornflowerblue">CODE FIRST APPROACH</h1>

</div>
<div style="background-color:lightgray;height:500px">
    <p style="color:black">
        In the code-first approach, EF Core API creates the database and tables using migration based on the conventions and configuration provided in your domain classes. This approach is useful in Domain Driven Design (DDD).

        In the database-first approach, EF Core API creates the domain and context classes based on your existing database using EF Core commands. This has limited support in EF Core as it does not support visual designer or wizard.
    </p>
    <img src="https://www.entityframeworktutorial.net/Images/efcore/ef-core-dev-approaces.png" alt="Italian Trulli" width="700" height="300" class="center pad">
</div>
